<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style type="text/css">
		.center {
		  text-align: center;
		}
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<script>
    function confirmxoa(name) {
        let r = confirm('ban co muon xoa name k' + name + '?');

        return r;
    }
</script>

<body>
    <h1 class="center"> Toys Store</h1>
    <table  class="table" border="1px">
        {{!-- <td class ="center"><a href="/search">Find Product</a></td> --}}
        <form action="/doSearch" method="post">
        Find Product <input type="text" name="txtName" id="">
        <input type="submit" value="Search">
        <br>
        </form>

    </table>
    <table  class="table" border="1px">
        <td class ="center"> <a href="/"> Show All Product</a></td>
    </table>
    <br>
    <table class="table" border="1px">
         <thead class="thead-dark">
        <tr>
            <th scope="col">NAME</th>
            <th scope="col">PRICE</th>
            <th scope="col">COLOR</th>
            <th scope="col">DELETE</th>
            <th scope="col">EDIT</th>
        </tr>
        </thead>
        {{# each model}}
        <tr>
            <td >{{productName}} </td>
            <td>{{price}} </td>
            <td>{{color}} </td>
            <td><a href="/delete?id={{_id}}" onclick="return confirmxoa('{{productName}}')"> Delete </a></td>
            <td><a href="/Edit?id={{_id}}">Edit</a></td>
        </tr>
        {{/each}}
        
    </table>
    <table  class="table" border="1px">
    <td class ="center"><a href="/insert" >New Product</a></td>
    </table>
</body>
    
</html>